<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{student.css}">
</head>
<body>
<table>
    <div>
        <tr class="header">
            <th>Họ và tên</th>
            <th>Địa chỉ</th>
            <th>action</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.name}"></td>
            <td th:text="${student.address}"></td>
            <td>
                <a th:href="@{/view/update-student/{name}(name = ${student.id})}">
                    Cập nhật sinh viên
                </a>
            </td>
        </tr>
    </div>
    <div>
        <a th:href="@{/view/add-student}">
            Thêm sinh viên
        </a>
    </div>
</table>
</body>
</html>